.AddNav{
    width: 100%;
    min-height: 70px;
   background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    .navDiv{
        max-width: 90%;
        display: flex;
        justify-content: space-between;
        color: white;
        width: 100%;
        align-items: baseline;
        .logo{
            a{
                font-weight: 800;
                font-size: 20px;
            }
        }
        .list{
            ul{
                display: flex;
                gap: 30px;
                li{
                    font-size: 18px;
                    cursor: pointer;

                }
            }
        }
        .contact{
            button{
                padding: 15px;
                background-color: #7971ea;
                border:none;
                border-radius: 20px;
                font-size: 12px;
                font-weight: 700;
                color: white;
            }
        }
    }
}