.teacher {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .teacherHead {
        text-align: center;
        width: 40%;
        padding: 50px 0 60px 0;

        h2 {
            font-size: 50px;
        }
    }
    .Cards{
        display: flex;
        flex-wrap: wrap;
        max-width: 70%;
        margin: 0 auto;
        justify-content: center;
        gap: 20px;
        .dataCard{
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 30%;
            border: 1px solid rgb(220, 214, 214);
            height: 360px;
            width: 320px;
            margin: 20px 0 20px 0;
            gap: 15px;
            img{
                width: 150px;
                border-radius: 50%;
                margin-top: -40px;
            }
            h3{
                font-size: 22px;
                font-weight: 500;
            }
            h4{
                font-weight: 400;

                color: gray;
            }
            p{
                font-size: 18px;
                color: gray;
            }
        }
    }
}